.w_100{
    width: 100% !important;
    height: 100% !important;
}
.flex_center_column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rounded_pill{
    border-radius: 5rem;
    margin: 2px;
}