.w_100{
    width: 100% !important;
    height: 100% !important;
}
.flex_center_column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rounded_pill{
    border-radius: 5rem;
    margin: 2px;
}
@media(min-width:600px){
    .top_navbar{
        box-shadow: 0 0 50px gray !important;
    }
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos_relative_top7px{
    position: relative;
    top: 7px;
}